html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    margin: 5px;
    padding: 5px;
}

/* Header; Applicable to all pages*/

header {
    text-align: center;
    padding: 16px;
    margin: 0;
    border-radius: 16px;
    background-image: url(./nav/images/banner-image.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    padding-top: 15px;
    margin: 0 auto;
}

h2 {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: "Matangi", sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
}

/* Nav & Footer links menu (visible on every page) */
nav {
    text-align: center;
    background-color: rgb(24, 151, 179);
    border-radius: 10px;
    padding: 15px 0px 15px 0px;
    line-height: 1.75;
}

a {
    padding: 0px 50px 0px 50px;
    color: white;
    font-size: 20px;
}

/* ---- Index Main ----- */
h3 {
    /* Standard Section Header on each page */
    text-align: center;
    font-family: "Matangi", sans-serif;
    font-weight: 400;
    color: rgb(1, 46, 59);
    font-size: 25px;
    border-radius: 10px;
    /* Intentional white space */
    padding: 15px 0px 15px 0px;
    margin: 0 auto;
}

/* Centered Logo */
.logo-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.logo {
    width: 85%;
    display: block;
    margin: 0 auto;
}

.background-1,
.background-2 {
    max-width: 1352px;
    background-image: url(./nav/images/banner-image.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 10px;
    padding: 10px 0px 10px 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

/* ---- About Me Section ----- */
h4 {
    font-family: "Matangi", sans-serif;
    font-weight: 400;
    color: rgb(1, 46, 59);
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
    padding: 0px 0px 1px 0px;
}

.blue-box {
    background-color: rgb(24, 151, 179);
    border-radius: 10px;
    padding: 10px 10px 15px 10px;
    margin: auto;
    max-width: fit-content;
}

/* bio container */
.bio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.blurb {
    max-width: 700px;
}

.bio-image {
    max-width: 300px;
    display: block;
    background-color: rgb(24, 151, 179);
    border-radius: 10px;
    padding: 15px 10px 15px 10px;
}

/* About me blurb + heading */
.intro {
    color: rgb(255, 255, 255);
    font-weight: lighter;
    font-size: 25px;
    text-align: center;
    margin-top: 0 auto;
}

p {
    color: rgb(255, 255, 255);
    font-size: 22px;
    margin: 5px 15px 20px 15px;
}

/* ----- Beading Page -----*/
.beading-gallery {
    max-width: 1352px;
    background-image: url(./nav/images/kami-kehoe.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 10px;
    padding: 15px 0px 15px 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

/* Photo Row 1 */
.aliens,
.pokemon {
    max-width: 100%;
    width: 400px;
    display: block;
    margin: auto
}

.moccasin {
    max-width: 100%;
    width: 400px;
    max-height: 533.333px;
    display: block;
    margin: auto;
}

/* Row 2 */
.flower,
.dual-tone-hearts {
    max-width: 100%;
    width: 400px;
    display: block;
    margin: auto;
    padding: 0px 5px 0px 5px;
}

.milkshake-hearts {
    max-width: 100%;
    width: 425px;
    display: block;
    margin: auto;
}

/* Row 3 */
.llamas,
.logo-v2 {
    max-width: 100%;
    width: 400px;
    display: block;
    margin: auto;
}

.alpacas {
    height: 400px;
    max-width: 100%;
    width: 400px;
    display: block;
    margin: auto;
}

/* container settings */
.row-1,
.row-2,
.row-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0px 10px;
}

/* ----- Portfolio/Digital Art Page ----- */

/* Section 1: Indigitech Portfolio */
section {
    max-width: 1352px;
    background-image: url(./nav/images/banner-image.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 10px;
    padding: 15px 0px 15px 0px;
    margin: 0 auto;
}

.indigitech-container {
    background-color: rgb(24, 151, 179);
    width: 1130px;
    max-width: fit-content;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 15px;
    margin: 10px auto 10px auto;
}

.white-horse {
    width: 1130px;
    max-width: 100%;
    margin: auto;
}

/* Digital art/UX demo */
.indigitech-container-2 {
    max-width: 1215px;
    background-color: rgb(24, 151, 179);
    border-radius: 10px;
    margin: 10px auto 10px auto;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.miqmak,
.red-hand {
    display: block;
    width: 575px;
    max-width: 100%;
    max-height: 767px;
    margin: 0 auto;
    padding: 10px 0px 10px 0px;
}

/* text above and below the pictures in this box */
.subheadings {
    max-width: 98%;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 0 auto;
    padding: 15px;
}

.chimnissing-logo {
    display: block;
    max-width: 100%;
    max-height: 435px;
    margin: auto;
}

.business-card {
    display: block;
    max-width: 100%;
    max-height: 400px;
    margin: auto;
}

/* Section 2: Water First Commission */
.water-first,
.tribal-lands {
    width: 1285px;
    max-width: 100%;
    background-color: rgb(24, 151, 179);
    border-radius: 10px;
    padding-bottom: 15px;
    margin: 15px auto 15px auto
}

/* Div to get the images parallel and equi-distant */
.water-container,
.tribal-container,
.style-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sea-cucumber,
.sea-bunnies,
.angel {
    display: block;
    max-width: 100%;
    max-height: 265px;
    margin: 0 auto;
}

/* Section 3:  Tribal Lands Commission */
.clan,
.thunderbird {
    display: block;
    max-height: 382px;
    max-width: 100%;
    margin: 0 auto;
}

/* Section 4: Digital Portraits/Fan-art */
.section-alt {
    max-width: 1352px;
    background-image: url(./nav/images/banner-image.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 10px;
    padding: 15px 0px 15px 0px;
    margin: 0px auto 15px auto;
}

.my-style {
    width: 1235px;
    max-width: 100%;
    background-color: rgb(24, 151, 179);
    border-radius: 10px;
    padding: 15px 0px 15px 0px;
    margin: 0 auto;
}

.mom,
.cherry-blossoms {
    display: block;
    max-height: 825px;
    max-width: 100%;
    margin: 0 auto;
}

/* Footer; Applicable to all pages */

footer {
    background-color: rgb(124, 146, 255);
    border-radius: 10px;
    padding: 15px 10px 15px 10px;
}

/* Footer Heading */
.follow-me {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 0;
    margin-top: 0;
    margin-bottom: 5px;
}

/* Links text */
.social-media {
    color: rgb(1, 16, 38);
    text-align: center;
    font-size: 25px;
}